name: trident-ids
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - pandas
  - scikit-learn
  - networkx
  - matplotlib
  - plotly
  - pyyaml
  - jupyterlab
  - pip
  - pip:
    - pytest
    - pytest-cov
